MONGODB_URI=mongodb://<username>:<password>@<shard-00>.mongodb.net:27017,<shard-01>.mongodb.net:27017,<shard-02>.mongodb.net:27017/?ssl=true&replicaSet=<replicaSet>&authSource=admin&appName=<appName>
JWT_SECRET=your_jwt_secret_here
PORT=3000
NODE_ENV=development
FRONTEND_URL=http://localhost:3001